#buttons {
  display: flex;
  flex-flow: wrap;
  & > div {
    flex: 1 0 100%;
    justify-content: center;
    align-items: center;
  }
  &:first-child {
    margin-top: 2rem;
  }
  margin-bottom: 1rem;
  button {
    margin: 0.3rem;
  }
}

#containers {
  & > * {
    background: var(--gray-color-50);
    padding: var(--padding);
    border: var(--border);
    box-shadow: var(--box-shadow);
    & > p {
      margin: 0;
    }
    &:first-child {
      margin-top: 2rem;
    }
    margin-bottom: 1rem;
  }
}
