@import "../variables";

#buttons {
  display: flex;
  flex-flow: wrap;
  & > div {
    flex: 1 0 100%;
    justify-content: center;
    align-items: center;
  }
  &:first-child {
    margin-top: $margin_top;
  }
  margin-bottom: $margin_bottom;
  button {
    margin: $margin_sm;
  }
}

#containers {
  & > * {
    background: $gray_color_50;
    padding: $padding;
    border: $border;
    box-shadow: $box-shadow;
    & > p {
      margin: 0;
    }
    &:first-child {
      margin-top: $margin_top;
    }
    margin-bottom: $margin_bottom;
  }
}
