@import "../variables";
@import "../themes";

#widgets {
  .toggle-theme {
    display: flex;
    text-align: center;
    vertical-align: middle;
    background-color: $gray_color_800;
    color: $gray_color_100;
    border: $gap solid transparent;
    box-shadow: $box-shadow;
    border-radius: 50%;
    position: fixed;
    margin: 0;
    bottom: 4px;
    right: 4px;
  }
}

#buttons {
  button,
  a {
    margin: $s_gaps;
  }
}

#inputs {
  input {
    display: block;
    margin-top: $gap;
  }
}

#widgets {
  .card.transparent {
    display: flex;
    & :nth-child(n + 3) {
      margin-left: $d_gap;
    }
    & :nth-child(2) {
      margin-left: auto;
    }
    @media (max-width: $bp_md) {
      & :nth-child(n + 3) {
        margin-left: $gap;
      }
    }
    @media (max-width: $bp_sm) {
      & :nth-child(n + 3) {
        margin-left: $s_gap;
      }
    }
  }
}
