@import "../variables";
@import "../themes";

#buttons {
  display: flex;
  flex-flow: wrap;
  & > div {
    flex: 1 0 100%;
    justify-content: center;
    align-items: center;
  }
  &:first-child {
    margin-top: $gap;
  }
  margin-bottom: $gap;
  button {
    margin: $s_gaps;
  }
}

#inputs {
  margin-top: $gap;
  margin-bottom: $gap;
  input {
    display: block;
    margin-top: $gap;
  }
  a {
    display: block;
    margin-top: $gap;
  }
}

#containers {
  margin-top: $gap;
  & > * {
    padding: $gaps;
    margin-top: $gap;
    box-shadow: $box-shadow;
    border: $gap solid transparent;
    border-color: $white;
    border-radius: $border_radius;
    & > p {
      margin: 0;
    }
    &:first-child {
      margin-top: $gap;
    }
    margin-bottom: $gap;
    @include dark_mode() {
      border-color: transparent;
      background-color: $gray_color_800;
    }
  }
}
