@import "../scss/variables";

#footer {
  display: flex;
  align-items: center;
  & :nth-of-type(n + 2) {
    margin-left: $d_gap;
  }
  @media (max-width: $bp_md) {
    & :nth-child(n + 2) {
      margin-left: $gap;
    }
  }
  @media (max-width: $bp_sm) {
    & :nth-child(n + 4) {
      margin-left: $s_gap;
    }
  }
  & :nth-child(3) {
    margin-left: auto;
  }
  .toggle-theme {
    display: flex;
    margin: 0;
  }
}
