@import "../scss/variables";

.footer {
  display: flex;
  align-items: center;
  --margin-left: $d_gap;
  > * {
    margin-left: $d_gap;
  }
  @media (max-width: $bp_md) {
    --margin-left: $gap;
  }
  @media (max-width: $bp_sm) {
    --margin-left: $s_gap;
  }
  .toggle-theme {
    display: flex;
    margin: 0;
  }
}
