@import "./variables";

button {
  color: $black;
  display: inline-block;
  font-family: $p_font_family;
  font-weight: $p_font_weight;
  line-height: var(--p-line-height);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: $border;
  padding: $padding;
  font-size: var(--p-size);
  border-radius: $border_radius;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  outline: none;
  &.lg {
    padding: $padding_lg;
    font-size: var(--h5-size);
    border-radius: $border_radius_lg;
  }
  &.sm {
    padding: $padding_sm;
    font-size: var(--small-size);
    border-radius: $border_radius_sm
  }
  &:disabled,
  &.disabled {
    pointer-events: none;
    opacity: 0.65;
  }
  color: $white;
  background-color: var(--color);
  border-color: var(--color);
  &.outline {
    background-color: transparent;
    color: var(--color);
    border-color: var(--color);
  }
  &:hover,
  &:focus {
    background-color: var(--color-600);
    border-color: var(--color-700);
    &.outline {
      color: $white;
    }
  }
  &:focus {
    box-shadow: $box_shadow;
  }
  &:active,
  .active {
    background-color: var(--color-700);
    border-color: var(--color-800);
  }
  &.link {
    --color: var(--primary-color);
    font-weight: $h_font_weight;
    color: var(--color);
    background: none;
    border: none;
    text-decoration: underline;
  }
}
