@import "./variables";

button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: var(--p-size);
  font-family: $p_font_family;
  font-weight: $h_font_weight;
  line-height: var(--p-line-height);
  text-decoration: none;
  cursor: pointer;
  outline: none;
  /* If you want to implement it in very old browser-versions */
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  /* The rule below is not implemented in browsers yet */
  -o-user-select: none;
  /* The rule below is implemented in most browsers by now */
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  &::selection {
    background: none;
  }
  &::-moz-selection {
    background: none;
  }
  padding: $s_gap $d_gap;
  border: $s2_gap solid transparent;
  border-radius: $border_radius;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: var(--color);
  color: var(--text-color, $white);
  &.lg {
    padding: $gap $d2_gap;
    font-size: var(--h5-size);
    border-radius: $border_radius_lg;
  }
  &.sm {
    padding: $s_gap $gap;
    font-size: var(--small-size);
    border-radius: $border_radius_sm;
  }
  &.outline {
    background-color: transparent;
    color: var(--color);
    border-color: var(--color);
  }
  &:disabled,
  &.disabled {
    pointer-events: none;
    opacity: $btn_disabled_opacity;
  }
  &:hover,
  &:focus {
    background-color: var(--color-600);
    &.outline {
      color: var(--text-color, $white);
    }
  }
  &:focus {
    box-shadow: $btn_box_shadow;
  }
  &:active,
  .active {
    background-color: var(--color-700);
    border-color: var(--color-800);
  }
  @include dark_mode() {
    color: $black;
    &.outline {
      color: var(--color);
      &:hover,
      &:focus {
        color: $black;
      }
    }
  }
  &.link {
    text-align: inherit;
    padding: 0;
    margin: 0;
    color: var(--color);
    background: none;
    border-color: transparent;
    transition: none !important;
    &:hover,
    &:focus,
    &:active,
    .active {
      background: none;
    }
    &:focus {
      border-radius: 0;
      border-color: var(--color-600);
    }
    @include dark_mode() {
      color: var(--color);
    }
  }
}
