@import "./variables";

.float-right {
  float: right;
}

.f-50 {
  flex-basis: 50%;
}

.filler {
  flex: 1;
}

.block {
  min-width: 100%;
}

.m-l-auto {
  margin-left: auto;
}

.center {
  text-align: center;
}

.bold {
  font-weight: $h_font_weight;
}

.text {
  &-danger {
    color: $danger_color_700;
  }
  &-success {
    color: $success_color_700;
  }
}