@import "./variables";

@mixin placeholder($color) {
  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $color;
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $color;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $color;
  }
}

@mixin apply_input_colors(
  $ph_color,
  $border_color,
  $shadow_color: null,
  $color: null
) {
  @include placeholder($ph_color);
  border-color: $border_color;
  --color-shadow: $shadow_color;
  box-shadow: $btn_box_shadow;
  color: $color;
}

input {
  writing-mode: horizontal-tb !important;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0;
  padding: $gaps;
  border: $s2_gap solid transparent;
  border-radius: $border_radius;
  font-size: var(--p-size);
  line-height: var(--h-size);
  outline: none;
  background-color: $white;
  @include apply_input_colors(
    $gray_color_400,
    $gray_color_400,
    $gray_color_shadow
  );
  &.lg {
    font-size: var(--h5-size);
  }
  &.sm {
    font-size: var(--small-size);
  }
  &:focus {
    @include apply_input_colors(
      $gray_color_900,
      $gray_color_900,
      $gray_color_shadow $gray_color
    );
  }
  &:disabled {
    opacity: $btn_disabled_opacity;
  }
  &:not(:disabled) {
    &.valid {
      @include apply_input_colors(
        $success_color_700,
        $success_color_700,
        $success_color_shadow,
        $success_color_700
      );
    }
    &.invalid {
      @include apply_input_colors(
        $danger_color_700,
        $danger_color_700,
        $danger_color_shadow,
        $danger_color_700
      );
    }
  }
  @include dark_mode() {
    border-color: transparent;
    background-color: $gray_color_700;
    @include placeholder($gray_color_600);
    color: $gray_color_400;
    &:focus {
      @include apply_input_colors(
        $gray_color_600,
        $gray_color_600,
        $gray_color_shadow $gray_color_600
      );
    }
  }
}

select {
  writing-mode: horizontal-tb !important;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: pointer;
  margin: 0;
  border: none;
  font-size: var(--p-size);
  line-height: var(--h-size);
  outline: none;
  color: $gray_color_700;
  border-color: $gray_color_300;
  background-color: $white;
  text-decoration: underline;
  -moz-appearance: none;
  @include dark_mode() {
    border-color: transparent;
    background-color: transparent;
    color: $gray_color;
  }
  :after {
    content: "v";
  }
  &:focus {
    border: $s2_gap solid;
    border-color: var(--color-600);
    background-color: none;
    border-radius: 0;
    box-shadow: none;
    @include dark_mode() {
      border-color: $gray_color_700;
    }
  }
}
