@import "./variables";

@mixin placeholder($color) {
  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $color;
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $color;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $color;
  }
}

@mixin apply_input_colors(
  $ph_color,
  $color,
  $border_color,
  $shadow_color: null
) {
  @include placeholder($ph_color);
  color: $color;
  border-color: $border_color;
  --color-shadow: $shadow_color;
  box-shadow: $btn_box_shadow;
}

input {
  writing-mode: horizontal-tb !important;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0;
  padding: $padding_lg_top $padding_sm_right;
  border: $border_lg;
  border-radius: $border_radius;
  font-size: var(--p-size);
  line-height: var(--h-size);
  outline: none;
  color: $gray_color_700;
  border-color: $gray_color_300;
  background-color: $white;
  @include placeholder($gray_color_400);
  &:focus {
    @include apply_input_colors(
      $primary_color_400,
      $primary_color_700,
      $primary_color_300,
      $primary_color_shadow
    );
  }
  &:disabled {
    opacity: $btn_disabled_opacity;
  }
  &:not(:disabled) {
    &.valid {
      @include apply_input_colors(
        $success_color_600,
        $success_color_700,
        $success_color_400,
        $success_color_shadow
      );
    }
    &.invalid {
      @include apply_input_colors(
        $danger_color_400,
        $danger_color_700,
        $danger_color_300,
        $danger_color_shadow
      );
    }
  }
  &.lg {
    font-size: var(--h5-size);
  }
  &.sm {
    font-size: var(--small-size);
  }
}
