@import "./variables";

body {
  background: $white;
  font-family: $p_font_family;
  font-weight: $p_font_weight;
  line-height: var(--p-line-height);
  hyphens: auto;
  color: $black;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: $h_font_weight;
  text-decoration: none;
  --color-600: #{$primary_color_600};
  color: var(--color-600);
  outline: none;
  &:focus {
    border: $border;
    border-color: var(--color-600);
    text-decoration: underline;
  }
}
