@import "./variables";
@import "./themes";

:root {
    color-scheme: light dark; /* both supported */
}

body {
  background: $white;
  font-family: $p_font_family;
  font-weight: $p_font_weight;
  line-height: var(--p-line-height);
  hyphens: auto;
  color: $black;
  @include dark_theme() {
    color: $gray-color-100;
    background-color: $gray_color_900;
  }
}

* {
  box-sizing: border-box;
}

a {
  font-weight: $h_font_weight;
  text-decoration: none;
  --color-600: #{$primary_color_600};
  color: var(--color-600);
  outline: none;
  &:focus {
    border: $border;
    border-color: var(--color-600);
    text-decoration: underline;
  }
}
