@import "./variables";
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

:root {
  /*General font variables*/
  --base-size: #{$base_size_min};
  --type-scale: #{$type_scale_min};
  --h-line-height: #{$h_line_height_min};
  --p-line-height: #{$p_line_height_min};
  --p-max-width: #{$p_max_width};
  --h1-size: calc(var(--h2-size) * var(--type-scale));
  --h2-size: calc(var(--h3-size) * var(--type-scale));
  --h3-size: calc(var(--h4-size) * var(--type-scale));
  --h4-size: calc(var(--h5-size) * var(--type-scale));
  --h5-size: calc(var(--p-size) * var(--type-scale));
  --p-size: 1rem;
  --small-size: calc(var(--p-size) / var(--type-scale));

  @media (min-width: $f_bp_sm) {
    --base-size: #{$base_size_min + ($base_size_max - $base_size_min) / 8};
    --type-scale: #{$type_scale_min + ($type_scale_max - $type_scale_min) /8};
    --h-line-height: #{$h_line_height_min +
      ($h_line_height_max - $h_line_height_min) / 4};
    --p-line-height: #{$p_line_height_min +
      ($p_line_height_max - $p_line_height_min) / 4};
  }

  @media (min-width: $f_bp_md) {
    --base-size: #{$base_size_min + ($base_size_max - $base_size_min) / 4};
    --type-scale: #{$type_scale_min + ($type_scale_max - $type_scale_min) / 4};
    --h-line-height: #{$h_line_height_min +
      ($h_line_height_max - $h_line_height_min) / 2};
    --p-line-height: #{$p_line_height_min +
      ($p_line_height_max - $p_line_height_min) / 2};
  }

  @media (min-width: $f_bp_lg) {
    --base-size: #{$base_size_min + ($base_size_max - $base_size_min) / 2};
    --type-scale: #{$type_scale_min + ($type_scale_max - $type_scale_min) / 2};
    --h-line-height: #{$h_line_height_max};
    --p-line-height: #{$p_line_height_max};
  }

  @media (min-width: $f_bp_xl) {
    --base-size: #{$base_size_max};
    --type-scale: #{$type_scale_max};
    --p-max-width: #{$p_max_width};
  }
}

html {
  font-size: var(--base-size);
}
body {
  font-family: $p_font_family;
  font-weight: $p_font_weight;
  line-height: var(--p-line-height);
  letter-spacing: $p_letter_spacing;
  hyphens: auto;
}

p {
  margin: $p_margin;
}

h1,
h2,
h3,
h4,
h5,
.h1_size,
.h2-size,
.h3-size,
.h4-size,
.h5-size {
  margin: $h_margin;
  font-family: $h_font_family;
  font-weight: $h_font_weight;
  line-height: var(--h-line-height);
  letter-spacing: $h_letter_spacing;
}

h1,
.h1_size {
  margin-top: 0;
  font-size: var(--h1-size);
}

h2,
.h2-size {
  font-size: var(--h2-size);
}

h3,
.h3-size {
  font-size: var(--h3-size);
}

h4,
.h4-size {
  font-size: var(--h4-size);
}

h5,
.h5-size {
  font-size: var(--h5-size);
}

small,
code,
.small-size {
  font-size: var(--small-size);
}

code {
  color: var(--primary-color);
}
