/*Color variables*/
$primary_color_shadow: rgba(102, 155, 210, 0.5);
$primary_color_50: #e7f2fb;
$primary_color_100: #cfe4f7;
$primary_color_200: #9fc9ee;
$primary_color_300: #6eaee6;
$primary_color_400: #3e93dd;
$primary_color: #0e78d5; //Blue
$primary_color_600: #0d6cc0;
$primary_color_700: #0c3680; //Navyblue
$primary_color_800: #08265a;
$primary_color_900: #051633;
$secondary_color_shadow: rgba(255, 216, 87, 0.5);
$secondary_color_50: #fffbee;
$secondary_color_100: #fff7dd;
$secondary_color_200: #ffefbc;
$secondary_color_300: #ffe89a;
$secondary_color_400: #ffe079;
$secondary_color: #ffd857;
$secondary_color_600: #e6c24e;
$secondary_color_700: #ccad46;
$secondary_color_800: #806c2c;
$secondary_color_900: #332b11;
$success_color_shadow: rgba(215, 245, 222, 0.5);
$success_color_50: #f0fcf2;
$success_color_100: #e0f9e4;
$success_color_200: #c1f3ca;
$success_color_300: #a2edaf;
$success_color_400: #83e795;
$success_color: #64E17A;
$success_color_600: #5acb6e;
$success_color_700: #50b462;
$success_color_800: #32713d;
$success_color_900: #142d18;
$danger_color_shadow:rgba(232, 144, 174, 0.5);
$danger_color_50: #fdf4f7;
$danger_color_100: #fae9ef;
$danger_color_200: #f6d3df;
$danger_color_300: #f1bcce;
$danger_color_400: #eda6be;
$danger_color: #e890ae;
$danger_color_600: #d1829d;
$danger_color_700: #ba738b;
$danger_color_800: #744857;
$danger_color_900: #2e1d23;
$warning_color_shadow: $secondary_color_shadow;
$warning_color_50: $secondary_color_50;
$warning_color_100: $secondary_color_100;
$warning_color_200: $secondary_color_200;
$warning_color_300: $secondary_color_300;
$warning_color_400: $secondary_color_400;
$warning_color: $secondary_color;
$warning_color_600: $secondary_color_600;
$warning_color_700: $secondary_color_700;
$warning_color_800: $secondary_color_800;
$warning_color_900: $secondary_color_900;
$gray_color_shadow: rgba(0, 0, 0, 0.1);
$gray_color_50: #f2f3f4;
$gray_color_100: #e6e8e9;
$gray_color_200: #cdd0d3;
$gray_color_300: #b3b9bd;
$gray_color_400: #9aa1a7;
$gray_color: #818a91;
$gray_color_600: #747c83;
$gray_color_700: #464748;
$gray_color_800: #222424;
$gray_color_900: #1a1c1d;
$white: white;
$black: Black;

/* Breakpoint variables */
$bp_sm: 576px;
$bp_md: 768px;
$bp_lg: 992px;
$bp_xl: 1200px;
$bp_xxl: 1400px;

/* Font breakpoint variables */
$f_bp_sm: 24.15em;
$f_bp_md: 43.75em;
$f_bp_lg: 60.25em;
$f_bp_xl: 75em;

/*Mobile screen fonts variables*/
$base_size_min: 100%; /*16px*/
$type_scale_min: 1.2;
$h_line_height_min: 1.2;
$p_line_height_min: 1.3;
$p_max_width: 38rem;

/*Desktop screen fonts variables*/
$base_size_max: 107.5%; /*18px*/
$type_scale_max: 1.5;
$h_line_height_max: 1.3;
$p_line_height_max: 1.75;
$p_max_width: 42rem;

/*General font variables*/
$h_font_weight: 700;
$p_font_weight: 400;
$h_font_family: "Raleway", sans-serif;
$p_font_family: "Raleway", sans-serif;
$h_margin: 3rem 0 1.38rem;
$p_margin: auto auto 1rem auto;
$h_letter_spacing: -1px;
$p_letter_spacing: 0px;

/*Paddings, margins, borders & borderbox*/
$padding_lg_top: 0.5rem;
$padding_lg_right: 1rem;
$padding_lg_left: 0.5rem;
$padding_lg_bottom: 1rem;
$padding_lg: $padding_lg_top $padding_lg_right $padding_lg_left
  $padding_lg_bottom;
$padding_top: 0.375rem;
$padding_right: 0.75rem;
$padding_left: 0.375rem;
$padding_bottom: 0.75rem;
$padding: $padding_top $padding_right $padding_left $padding_bottom;
$padding_sm_top: 0.25rem;
$padding_sm_right: 0.5rem;
$padding_sm_left: 0.25rem;
$padding_sm_bottom: 0.5rem;
$padding_sm: $padding_sm_top $padding_sm_right $padding_sm_left
  $padding_sm_bottom;
$margin_lg_top: 0.5rem;
$margin_lg_right: 1rem;
$margin_lg_left: 0.5rem;
$margin_lg_bottom: 1rem;
$margin_lg: $margin_lg_top $margin_lg_right $margin_lg_left
  $margin_lg_bottom;
$margin_top: 0.375rem;
$margin_right: 0.75rem;
$margin_left: 0.375rem;
$margin_bottom: 0.75rem;
$margin: $margin_top $margin_right $margin_left $margin_bottom;
$margin_sm_top: 0.25rem;
$margin_sm_right: 0.5rem;
$margin_sm_left: 0.25rem;
$margin_sm_bottom: 0.5rem;
$margin_sm: $margin_sm_top $margin_sm_right $margin_sm_left
  $margin_sm_bottom;
$border_lg: 3px solid transparent;
$border: 1px solid transparent;
$border_sm: 0.5px solid transparent;
$border_radius_lg: 12px;
$border_radius: 12px;
$border_radius_sm: 12px;
$box_shadow: 0 0 20px 5px #{$gray_color_shadow};
$btn_box_shadow: 0 0 0 0.25rem #{var(--color-shadow)};
$btn_disabled_opacity: 0.6;