/* Breakpoint variables */
$bp_sm: 576px;
$bp_md: 768px;
$bp_lg: 992px;
$bp_xl: 1200px;
$bp_xxl: 1400px;

/* Font breakpoint variables */
$f_bp_sm: 24.15em;
$f_bp_md: 43.75em;
$f_bp_lg: 60.25em;
$f_bp_xl: 75em;

/*Mobile screen fonts variables*/
$base_size_min: 100%; /*16px*/
$type_scale_min: 1.2;
$h_line_height_min: 1.2;
$p_line_height_min: 1.3;
$p_max_width: 38rem;

/*Desktop screen fonts variables*/
$base_size_max: 112.5%; /*18px*/
$type_scale_max: 1.5;
$h_line_height_max: 1.4;
$p_line_height_max: 1.75;
$p_max_width: 42rem;

/*General font variables*/
$h_font_weight: 700;
$p_font_weight: 400;
$h_font_family: "Roboto", sans-serif;
$p_font_family: "Roboto", sans-serif;
$h_margin: 3rem 0 1.38rem;
$p_margin: auto auto 1rem auto;

/*Paddings, margins, borders & borderbox*/
$padding_lg_top: 0.5rem;
$padding_lg_right: 1rem;
$padding_lg_left: 0.5rem;
$padding_lg_bottom: 1rem;
$padding_lg: $padding_lg_top $padding_lg_right $padding_lg_left
  $padding_lg_bottom;
$padding_top: 0.375rem;
$padding_right: 0.75rem;
$padding_left: 0.375rem;
$padding_bottom: 0.75rem;
$padding: $padding_top $padding_right $padding_left $padding_bottom;
$padding_sm_top: 0.25rem;
$padding_sm_right: 0.5rem;
$padding_sm_left: 0.25rem;
$padding_sm_bottom: 0.5rem;
$padding_sm: $padding_sm_top $padding_sm_right $padding_sm_left
  $padding_sm_bottom;
$margin_lg_top: 0.5rem;
$margin_lg_right: 1rem;
$margin_lg_left: 0.5rem;
$margin_lg_bottom: 1rem;
$margin_lg: $margin_lg_top $margin_lg_right $margin_lg_left
  $margin_lg_bottom;
$margin_top: 0.375rem;
$margin_right: 0.75rem;
$margin_left: 0.375rem;
$margin_bottom: 0.75rem;
$margin: $margin_top $margin_right $margin_left $margin_bottom;
$margin_sm_top: 0.25rem;
$margin_sm_right: 0.5rem;
$margin_sm_left: 0.25rem;
$margin_sm_bottom: 0.5rem;
$margin_sm: $margin_sm_top $margin_sm_right $margin_sm_left
  $margin_sm_bottom;
$border_radius_lg: 0.3rem;
$border_radius: 0.25rem;
$border_radius_sm: 0.2rem;
$box_shadow: 0 0 0 0.25rem var(_color_shadow);
$border: 1px solid transparent;

/*Color variables*/
$primary_color_shadow: rgba(219, 228, 248, 50%);
$primary_color_50: #edf1fb;
$primary_color_100: #dbe4f8;
$primary_color_200: #b8c8f1;
$primary_color_300: #94ade9;
$primary_color_400: #7191e2;
$primary_color: #4d76db;
$primary_color_600: #3e5eaf;
$primary_color_700: #2e4783;
$primary_color_800: #1f2f58;
$primary_color_900: #0f182c;
$secondary_color_shadow: rgba(255, 243, 218, 50%);
$secondary_color_50: #fff9ed;
$secondary_color_100: #fff3da;
$secondary_color_200: #ffe7b5;
$secondary_color_300: #ffda90;
$secondary_color_400: #ffce6b;
$secondary_color: #ffc246;
$secondary_color_600: #cc9b38;
$secondary_color_700: #99742a;
$secondary_color_800: #664e1c;
$secondary_color_900: #33270e;
$success_color_shadow: rgba(215, 245, 222, 50%);
$success_color_50: #ebfaee;
$success_color_100: #d7f5de;
$success_color_200: #b0ebbd;
$success_color_300: #88e19b;
$success_color_400: #61d77a;
$success_color: #39cd59;
$success_color_600: #2ea447;
$success_color_700: #227b35;
$success_color_800: #175224;
$success_color_900: #0b2912;
$danger_color_shadow: rgba(255, 222, 218, 50%);
$danger_color_50: #ffeeed;
$danger_color_100: #ffdeda;
$danger_color_200: #ffbcb5;
$danger_color_300: #ff9b90;
$danger_color_400: #ff796b;
$danger_color: #ff5846;
$danger_color_600: #cc4638;
$danger_color_700: #99352a;
$danger_color_800: #66231c;
$danger_color_900: #33120e;
$warning_color_shadow: $secondary_color_shadow;
$warning_color_50: $secondary_color_50;
$warning_color_100: $secondary_color_100;
$warning_color_200: $secondary_color_200;
$warning_color_300: $secondary_color_300;
$warning_color_400: $secondary_color_400;
$warning_color: $secondary_color;
$warning_color_600: $secondary_color_600;
$warning_color_700: $secondary_color_700;
$warning_color_800: $secondary_color_800;
$warning_color_900: $secondary_color_900;
$gray_color_shadow: rgba(217, 218, 220, 50%);
$gray_color_50: #ecedee;
$gray_color_100: #d9dadc;
$gray_color_200: #b4b5b9;
$gray_color_300: #8e9196;
$gray_color_400: #696c73;
$gray_color: #434750;
$gray_color_600: #363940;
$gray_color_700: #282b30;
$gray_color_800: #1b1c20;
$gray_color_900: #0d0e10;
$white: #fafafa;
$black: #424242;
