:root {
  /*Color variables*/
  --primary-color-shadow: rgb(219, 228, 248, 50%);
  --primary-color-50: #edf1fb;
  --primary-color-100: #dbe4f8;
  --primary-color-200: #b8c8f1;
  --primary-color-300: #94ade9;
  --primary-color-400: #7191e2;
  --primary-color: #4d76db;
  --primary-color-600: #3e5eaf;
  --primary-color-700: #2e4783;
  --primary-color-800: #1f2f58;
  --primary-color-900: #0f182c;
  --secondary-color-shadow: rgb(255, 243, 218, 50%);
  --secondary-color-50: #fff9ed;
  --secondary-color-100: #fff3da;
  --secondary-color-200: #ffe7b5;
  --secondary-color-300: #ffda90;
  --secondary-color-400: #ffce6b;
  --secondary-color: #ffc246;
  --secondary-color-600: #cc9b38;
  --secondary-color-700: #99742a;
  --secondary-color-800: #664e1c;
  --secondary-color-900: #33270e;
  --success-color-shadow: rgb(215, 245, 222, 50%);
  --success-color-50: #ebfaee;
  --success-color-100: #d7f5de;
  --success-color-200: #b0ebbd;
  --success-color-300: #88e19b;
  --success-color-400: #61d77a;
  --success-color: #39cd59;
  --success-color-600: #2ea447;
  --success-color-700: #227b35;
  --success-color-800: #175224;
  --success-color-900: #0b2912;
  --danger-color-shadow: rgb(255, 222, 218, 50%);
  --danger-color-50: #ffeeed;
  --danger-color-100: #ffdeda;
  --danger-color-200: #ffbcb5;
  --danger-color-300: #ff9b90;
  --danger-color-400: #ff796b;
  --danger-color: #ff5846;
  --danger-color-600: #cc4638;
  --danger-color-700: #99352a;
  --danger-color-800: #66231c;
  --danger-color-900: #33120e;
  --warning-color-shadow: var(--secondary-color-shadow);
  --warning-color-50: var(--secondary-color-50);
  --warning-color-100: var(--secondary-color-100);
  --warning-color-200: var(--secondary-color-200);
  --warning-color-300: var(--secondary-color-300);
  --warning-color-400: var(--secondary-color-400);
  --warning-color: var(--secondary-color);
  --warning-color-600: var(--secondary-color-600);
  --warning-color-700: var(--secondary-color-700);
  --warning-color-800: var(--secondary-color-800);
  --warning-color-900: var(--secondary-color-900);
  --gray-color-shadow: rgb(217, 218, 220, 50%);
  --gray-color-50: #ecedee;
  --gray-color-100: #d9dadc;
  --gray-color-200: #b4b5b9;
  --gray-color-300: #8e9196;
  --gray-color-400: #696c73;
  --gray-color: #434750;
  --gray-color-600: #363940;
  --gray-color-700: #282b30;
  --gray-color-800: #1b1c20;
  --gray-color-900: #0d0e10;
  --white: #fafafa;
  --black: #424242;

  /*Apply gray as default color*/
  --color-shadow: var(--gray-color-shadow);
  --color-50: var(--gray-color-50);
  --color-100: var(--gray-color-100);
  --color-200: var(--gray-color-200);
  --color-300: var(--gray-color-300);
  --color-400: var(--gray-color-400);
  --color: var(--gray-color);
  --color-600: var(--gray-color-600);
  --color-700: var(--gray-color-700);
  --color-800: var(--gray-color-800);
  --color-900: var(--gray-color-900);
}

.primary {
  --color-shadow: var(--primary-color-shadow);
  --color-50: var(--primary-color-50);
  --color-100: var(--primary-color-100);
  --color-200: var(--primary-color-200);
  --color-300: var(--primary-color-300);
  --color-400: var(--primary-color-400);
  --color: var(--primary-color);
  --color-600: var(--primary-color-600);
  --color-700: var(--primary-color-700);
  --color-800: var(--primary-color-800);
  --color-900: var(--primary-color-900);
}

.secondary {
  --color-shadow: var(--secondary-color-shadow);
  --color-50: var(--secondary-color-50);
  --color-100: var(--secondary-color-100);
  --color-200: var(--secondary-color-200);
  --color-300: var(--secondary-color-300);
  --color-400: var(--secondary-color-400);
  --color: var(--secondary-color);
  --color-600: var(--secondary-color-600);
  --color-700: var(--secondary-color-700);
  --color-800: var(--secondary-color-800);
  --color-900: var(--secondary-color-900);
}

.success {
  --color-shadow: var(--success-color-shadow);
  --color-50: var(--success-color-50);
  --color-100: var(--success-color-100);
  --color-200: var(--success-color-200);
  --color-300: var(--success-color-300);
  --color-400: var(--success-color-400);
  --color: var(--success-color);
  --color-600: var(--success-color-600);
  --color-700: var(--success-color-700);
  --color-800: var(--success-color-800);
  --color-900: var(--success-color-900);
}

.danger {
  --color-shadow: var(--danger-color-shadow);
  --color-50: var(--danger-color-50);
  --color-100: var(--danger-color-100);
  --color-200: var(--danger-color-200);
  --color-300: var(--danger-color-300);
  --color-400: var(--danger-color-400);
  --color: var(--danger-color);
  --color-600: var(--danger-color-600);
  --color-700: var(--danger-color-700);
  --color-800: var(--danger-color-800);
  --color-900: var(--danger-color-900);
}

.warning {
  --color-shadow: var(--warning-color-shadow);
  --color-50: var(--warning-color-50);
  --color-100: var(--warning-color-100);
  --color-200: var(--warning-color-200);
  --color-300: var(--warning-color-300);
  --color-400: var(--warning-color-400);
  --color: var(--warning-color);
  --color-600: var(--warning-color-600);
  --color-700: var(--warning-color-700);
  --color-800: var(--warning-color-800);
  --color-900: var(--warning-color-900);
}

.gray {
  --color-shadow: var(--warning-color-shadow);
  --color-50: var(--gray-color-50);
  --color-100: var(--gray-color-100);
  --color-200: var(--gray-color-200);
  --color-300: var(--gray-color-300);
  --color-400: var(--gray-color-400);
  --color: var(--gray-color);
  --color-600: var(--gray-color-600);
  --color-700: var(--gray-color-700);
  --color-800: var(--gray-color-800);
  --color-900: var(--gray-color-900);
}
